<a href="https://colab.research.google.com/github/asishpattnaik1/CE888/blob/main/Lab4/my_recommender_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import operator

In [4]:
df0 = pd.ExcelFile('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true')

In [5]:
df0.sheet_names

['Items', 'Users']

In [6]:

df_Items = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Items',index_col=None)

In [7]:
df_Items.head()

   Movie ID  ...  Factor15
0        11  ... -0.248806
1        12  ...  1.274993
2        13  ... -0.419092
3        14  ... -0.681191
4        22  ... -2.292566

[5 rows x 17 columns]

In [8]:
df_Users = pd.read_excel('https://github.com/albanda/CE888/blob/master/lab4-recommender/movies_latent_factors.xlsx?raw=true',sheet_name='Users', index_col=None)

In [9]:
df_Users.head()

   User   Factor1   Factor2   Factor3  ...  Factor12  Factor13  Factor14  Factor15
0  4768 -0.204024  0.161079 -0.090447  ...  0.355404  0.007108 -0.118663 -0.039125
1   156 -0.189652 -0.178979 -0.091490  ... -0.048606  0.045916  0.113671  0.179873
2  5323 -0.115308 -0.090886 -0.053129  ... -0.019460  0.108372  0.054471 -0.109552
3   174 -0.227462 -0.272532 -0.017231  ... -0.082396  0.036767 -0.165438  0.050692
4  4529 -0.014616 -0.102218 -0.107935  ... -0.132836 -0.039897  0.129063  0.102669

[5 rows x 16 columns]

In [10]:
df_Users.shape, df_Items.shape

((25, 16), (100, 17))

In [61]:
# Which 3 movies would you recommend to User 2067?
#user with ID 768 will give to the movie with ID 268.

#num_factors = df_Users.shape[1]-1
#user_pref = df_Users[df_Users['User'] == 768].iloc[:, -num_factors:].values[0]
#item_feat = df_Items.iloc[:, -num_factors:].values

num_factors = df_Users.shape[1]-1
user_pref = df_Users[df_Users['User'] == 2067].iloc[:, -num_factors:].values[0]
item_feat = df_Items.iloc[:, -num_factors:].values

In [53]:
#user with ID 783 will give to the movie with ID 187.
#num_factors = df_Users.shape[1]-1
#user_pref = df_Users[df_Users['User'] == 783].iloc[:, -num_factors:].values[0]
#item_feat = df_Items.iloc[:, -num_factors:].values

In [45]:
df_Items[df_Items['Movie ID']==268].index.values[0]

29

In [54]:
df_Items[df_Items['Movie ID']==187].index.values[0]

24

In [46]:
#user with ID 768 will give to the movie with ID 268.
#data.iloc[[0,3,6,24], [0,5,6]]
df = df_Items.iloc[list(pd.DataFrame(preference).index)]
item_feat=df_Items.iloc[[29], -num_factors:].values

In [55]:
#user with ID 783 will give to the movie with ID 187.
#data.iloc[[0,3,6,24], [0,5,6]]
df = df_Items.iloc[list(pd.DataFrame(preference).index)]
item_feat=df_Items.iloc[[24], -num_factors:].values

In [62]:
preference = item_feat.dot(user_pref)

In [63]:

round(preference[0],2)
df_Users.columns[1:]
preference

array([-2.39496596e-01,  3.21742637e-01,  8.28941906e-01,  2.67384510e-01,
       -4.06868237e-01,  4.21346833e-01,  6.40695664e-02, -2.89341738e-02,
        3.04644490e-01,  2.57957416e-02,  8.17015585e-01,  2.82443536e-01,
        1.67581619e-01,  4.87496778e-01, -1.95957690e+00, -1.88286055e+00,
       -1.82570715e+00, -9.32979771e-02, -5.64339799e-02, -2.60075057e-01,
       -2.64279290e-01,  6.18417883e-01,  2.22063204e-01,  1.07924521e-02,
        1.25332988e-03, -2.72969323e-02,  6.63749450e-01,  3.91251697e-01,
       -1.14533299e-01,  9.27230731e-02,  4.06095852e-01,  4.28709919e-01,
        8.37809743e-02,  7.43204720e-01,  1.06485046e-02,  1.24870334e-01,
        2.78469650e-01, -3.26307575e-01,  4.18074465e-01,  4.81561603e-01,
        2.94590559e-01,  4.46331051e-01,  8.63428705e-02,  4.01526985e-02,
        1.31789936e-01,  1.85850204e-01,  1.20896281e-01,  3.92008544e-01,
        2.29577716e-01,  4.19386283e-01,  4.32859903e-03, -6.64877728e-01,
       -4.74378458e-02,  2.94783751e-01,  3.98158612e-01,  4.55587564e-02,
       -2.07591357e-01, -1.98212420e+00, -2.00020586e+00,  3.46903862e-01,
        4.91999187e-01,  4.10501266e-01, -7.29721626e-02,  7.23648131e-02,
        3.02908968e-01, -2.26034388e-02, -3.11157936e-01,  3.54150085e-01,
       -4.53698977e-01,  3.16954656e-01,  3.98265424e-01, -4.16436464e-02,
       -3.05981298e-01,  5.10800967e-01,  2.21025082e-01, -8.89217796e-02,
        2.35961664e-02, -2.57827503e-01, -2.81656540e-01, -5.88619604e-01,
        7.27053551e-02,  2.59824965e-01,  4.70649317e-03, -1.50756329e-01,
       -1.92853947e-01, -7.96918309e-01, -6.11439533e-01,  2.83619168e-01,
       -1.24345437e-01,  3.58647352e-01, -9.69886516e-01,  6.96350288e-01,
        2.64551786e-02, -5.19717826e-02,  1.94985587e-01,  2.61022223e-01,
        3.14246947e-01, -7.38089088e-02, -2.00034683e-01,  9.08282060e-03])

In [64]:
pd.DataFrame(preference).head(20)

           0
0  -0.239497
1   0.321743
2   0.828942
3   0.267385
4  -0.406868
5   0.421347
6   0.064070
7  -0.028934
8   0.304644
9   0.025796
10  0.817016
11  0.282444
12  0.167582
13  0.487497
14 -1.959577
15 -1.882861
16 -1.825707
17 -0.093298
18 -0.056434
19 -0.260075

In [67]:
#values = [zip(df_Users.columns[1:], preference[i]) for i in range(preference.shape[0])]
top_values = pd.DataFrame(preference).nlargest(3, 0)
top_indices = top_values.index
list(top_indices)
#comparison_data.columns = df_Users.columns

[2, 10, 33]

In [68]:
df_Items.iloc[list(top_indices)]

    Movie ID                            Title  ...  Factor14  Factor15
2         13              Forrest Gump (1994)  ... -2.209004 -0.419092
10        98                 Gladiator (2000)  ... -0.338100 -0.175565
33       278  The Shawshank Redemption (1994)  ... -0.976664 -0.779991

[3 rows x 17 columns]

In [70]:
#Question9- Which 2 movies would you recommend to User 2092?

num_factors = df_Users.shape[1]-1
user_pref = df_Users[df_Users['User'] == 2092].iloc[:, -num_factors:].values[0]
item_feat = df_Items.iloc[:, -num_factors:].values
preference = item_feat.dot(user_pref)

In [71]:
round(preference[0],2)
df_Users.columns[1:]
preference

array([ 0.1474981 ,  0.06983066,  0.05034643,  0.10362144,  0.43445992,
       -0.349929  ,  0.10881859,  0.02706829,  0.14355296,  0.24107678,
        0.19533595,  0.22597099,  0.25323484, -0.14367942,  0.48778482,
        0.40695203,  0.47629982, -0.06796637, -0.00346879, -0.09780667,
        0.04007909,  0.23928014,  0.41468031, -0.10614675,  0.03911447,
        0.09716218, -0.08133268,  0.46989755, -0.03139847, -0.39115697,
       -0.08712855,  0.13940897,  0.003168  ,  0.23871336,  0.1941581 ,
       -0.00431458, -0.3496473 , -0.67048872,  0.08852994,  0.17133532,
       -0.12681625,  0.56277095, -1.14692595, -1.32254628, -0.13783104,
       -0.09532403,  0.13444858, -0.31405841, -0.32126222, -0.06166568,
        0.3863941 , -0.32259049,  0.23892751,  0.21541377,  0.21051028,
        0.03894228, -0.24252431, -0.420186  , -0.36430616,  0.43727051,
       -0.13250326, -0.05173059, -0.13352892, -0.05891093,  0.08372632,
        0.36607193,  0.13892302,  0.1063737 ,  0.21083979,  0.0150016 ,
        0.15891242,  0.17764034, -0.11926427,  0.20606238,  0.03078869,
        0.06230564, -0.07293386,  0.12335491,  0.10818827, -0.53393243,
       -0.06780029, -0.1629032 , -0.15628277,  0.39014428,  0.32000195,
        0.30814957, -0.39695236,  0.02433334, -0.12281988, -0.16658143,
        0.20909678,  0.27225157, -0.12585869, -0.15727396, -0.08124682,
       -0.09081308, -0.00218789, -0.5343551 , -0.58609212, -0.02975055])

In [72]:
#values = [zip(df_Users.columns[1:], preference[i]) for i in range(preference.shape[0])]
top_values = pd.DataFrame(preference).nlargest(2, 0)
top_indices = top_values.index
list(top_indices)
#comparison_data.columns = df_Users.columns

[41, 14]

In [73]:
df_Items.iloc[list(top_indices)]

    Movie ID  ...  Factor15
41       550  ... -0.724341
14       120  ... -0.276280

[2 rows x 17 columns]

In [18]:
#quiz question-5
##Factor1 for the movie with ID=36658
#df_Items.head()
df_Fator = df_Items[['Movie ID','Factor1']]

value = df_Fator[df_Fator['Movie ID']==36658]['Factor1'].values[0]

round(value,3)

1.161

In [19]:
#quiz quesion -6
#with the lowest loading of factor 15

df_factor2 = df_Items[['Movie ID','Factor15']]
df_factor2.sort_values('Factor15')

    Movie ID  Factor15
4         22 -2.292566
27       238 -2.267831
86      4327 -2.247246
37       414 -1.959942
59       680 -1.833900
..       ...       ...
1         12  1.274993
61       752  1.460253
35       329  1.466918
90      8467  1.616338
51       604  2.120907

[100 rows x 2 columns]